#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

nav {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
}

.barra {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.5em;
  flex-wrap: wrap;
}

.barra-resultado {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  padding: 0.5em;
  margin: auto;
  border-radius: 8px;
  background-color: #1a1a1a;
  width: calc(100%-1em);
  height: fit-content;
  overflow-x: auto;
}

table {
  width: 100%;
  overflow-x: scroll;
}

table thead tr td {
  font-weight: bold;
  font-size: large;
  padding: 0 1em;
}

table tbody tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.1);
}

table tbody tr td.num {
  background-color: #1a1a1a;
}

.celda {
  padding: 0;
  margin: 0;
}

.celda .codigo {
  width: fit-content;
  margin: auto;
  font-size: small;
  color: #646cff;
}

.celda .probabilidad.suma {
  color: #ff6464;
}

.celda .probabilidad {
  width: fit-content;
  margin: auto;
  font-weight: normal;
}

.palabraCodificada {
  letter-spacing: 2px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.container .bits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.container .codificada {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.container .compactacion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1em;
}

@media (min-width: 768px) {
  body {
    margin: 0;
    padding: 2em;
  }

  section {
    width: fit-content;
    width: calc(100%-2em);
  }

  table {
    margin: auto;
  }

  .container .codificada {
    flex-direction: row;
    gap: 1em;
    margin-right: 1em;
  }
  .container {
    flex-direction: row;
  }
}
